# Importações

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import seaborn as sns
import numpy as np
import os

# Leitura do Arquivo

In [2]:
# Caminho do arquivo Excel
excel_file = "arw.xlsx"

# Leitura do arquivo Excel
df = pd.read_excel(excel_file, sheet_name='Respondentes')

# Ajustes Iniciais

In [3]:
# Drop das colunas desnecessárias
columns_to_drop = ['endereco_ip', 'coletor', 'tempo_gasto', 'data_resposta', 'concorda_termo_consentimento']
columns_to_drop = [col for col in columns_to_drop if col in df.columns]
df.drop(columns=columns_to_drop, inplace=True)

# Função para converter floats em inteiros
def converter_float_para_int(df):
    for coluna in df.columns:
        if df[coluna].dtype == 'float64':
            # Verifica se há valores NaN na coluna e os preenche com 0 (ou outro valor apropriado) antes da conversão
            df[coluna].fillna(0, inplace=True)
            df[coluna] = df[coluna].astype(int)
    return df

# Aplicar a função para converter floats em inteiros
df = converter_float_para_int(df)

# Transformações

## Identificação de Gênero

In [4]:
# Função para remover o texto após o parêntese, incluindo o próprio parêntese
def remover_apos_parentese(texto):
    if isinstance(texto, str):
        return re.sub(r'\s*\(.*\)', '', texto).strip()
    return texto

# Aplicar a função à coluna 'identificacao_genero'
df['identificacao_genero'] = df['identificacao_genero'].apply(remover_apos_parentese)

# Contar as ocorrências de cada valor único na coluna 'identificacao_genero'
identificacao_genero_counts = df['identificacao_genero'].value_counts()

# Exibir o resultado
print("Contagem de cada valor:")
print(identificacao_genero_counts)

Contagem de cada valor:
identificacao_genero
Mulher cisgênero         2128
Homem cisgênero          1489
Pessoa não-binária         66
Prefiro não responder      41
Homem transgênero          10
Agênero                    10
Mulher transgênero          7
Name: count, dtype: int64

## Ano de Conclusão da Graduação

In [5]:
# Exibir os valores únicos antes de qualquer manipulação
print("Valores únicos antes da substituição:")
print(df['ano_conclusao_graduacao'].unique())

# Substituir anos de conclusão da graduação abaixo de 1901 por NaN
df['ano_conclusao_graduacao'] = df['ano_conclusao_graduacao'].apply(lambda x: x if x >= 1901 else np.nan)

# Converter a coluna para 'Int64', que suporta NaN
df['ano_conclusao_graduacao'] = df['ano_conclusao_graduacao'].astype('Int64')

# Exibir os valores únicos após a substituição
print("\nValores únicos após a substituição:")
print(df['ano_conclusao_graduacao'].unique())

# Contar valores nulos na coluna 'ano_conclusao_graduacao'
nulos_ano_conclusao = df['ano_conclusao_graduacao'].isnull().sum()
print(f"\nNúmero de valores nulos: {nulos_ano_conclusao}")

# Verificar contagem por ano após a substituição
contagem_por_ano = df['ano_conclusao_graduacao'].value_counts(dropna=False).sort_index()
print("\nContagem por Ano de Graduação:")
print(contagem_por_ano)

Valores únicos antes da substituição:
[   0 2003 1996 2005 2006 2008 2007 1981 1973 2013 1992 2000 2015 2011
 1995 2017 2019 2018 1983 2004 2014 2023 2002 2012 1975 1980 1998 1989
 1986 1997 1999 2016 2010 2001 1987 2022 2020 2009 2021 1984 2024 1979
 1970 1971 1993 1982 1991 2025 1985 1976 1994 1990 1974   88 2027 1988
 1965   -1   -7 1967 2026   19    1   -3    7 1978  224   -2  -91 1964
    2 1960    9 2028 1968  777    5  666 1977 1972 1900 2029]

Valores únicos após a substituição:
<IntegerArray>
[<NA>, 2003, 1996, 2005, 2006, 2008, 2007, 1981, 1973, 2013, 1992, 2000, 2015,
 2011, 1995, 2017, 2019, 2018, 1983, 2004, 2014, 2023, 2002, 2012, 1975, 1980,
 1998, 1989, 1986, 1997, 1999, 2016, 2010, 2001, 1987, 2022, 2020, 2009, 2021,
 1984, 2024, 1979, 1970, 1971, 1993, 1982, 1991, 2025, 1985, 1976, 1994, 1990,
 1974, 2027, 1988, 1965, 1967, 2026, 1978, 1964, 1960, 2028, 1968, 1977, 1972,
 2029]
Length: 66, dtype: Int64

Número de valores nulos: 567

Contagem por Ano de Graduação:
ano_conclusao_graduacao
1960      2
1964      2
1965      1
1967      1
1968      2
       ...
2026      6
2027      1
2028      2
2029      1
<NA>    567
Name: count, Length: 66, dtype: Int64

In [6]:
import numpy as np

# Exibir os valores únicos antes de qualquer manipulação
print("Valores únicos antes da substituição:")
print(df['ano_conclusao_mestrado'].unique())

# Substituir anos de conclusão do mestrado abaixo de 1901 por NaN
df['ano_conclusao_mestrado'] = df['ano_conclusao_mestrado'].apply(lambda x: x if x >= 1901 else np.nan)

# Converter a coluna para 'Int64', que suporta NaN
df['ano_conclusao_mestrado'] = df['ano_conclusao_mestrado'].astype('Int64')

# Exibir os valores únicos após a substituição
print("\nValores únicos após a substituição:")
print(df['ano_conclusao_mestrado'].unique())

# Contar valores nulos na coluna 'ano_conclusao_mestrado'
nulos_ano_conclusao = df['ano_conclusao_mestrado'].isnull().sum()
print(f"\nNúmero de valores nulos: {nulos_ano_conclusao}")

# Verificar contagem por ano após a substituição
contagem_por_ano = df['ano_conclusao_mestrado'].value_counts(dropna=False).sort_index()
print("\nContagem por Ano de Mestrado:")
print(contagem_por_ano)

Valores únicos antes da substituição:
[   0 2005 2001 2018 2009 2015 2010 1989 1979 1996 2013 2019 2014 2017
 2000 2020 2022 2021 2025 1980 1995 1994 1993 2016 2002 2007 2004    2
 2003 2008 1988 2011 2012 2023 2006 2024    1 1983 1974 1977 1998 1978
 1999   19 1991 1986 2026 1981 1992   -2   94 1972    3 1987 1971 1997
 1985 1975 1976 1990    4   -1   20 1966 1973   -3    8  555   -4    9
   66 1970 1900]

Valores únicos após a substituição:
<IntegerArray>
[<NA>, 2005, 2001, 2018, 2009, 2015, 2010, 1989, 1979, 1996, 2013, 2019, 2014,
 2017, 2000, 2020, 2022, 2021, 2025, 1980, 1995, 1994, 1993, 2016, 2002, 2007,
 2004, 2003, 2008, 1988, 2011, 2012, 2023, 2006, 2024, 1983, 1974, 1977, 1998,
 1978, 1999, 1991, 1986, 2026, 1981, 1992, 1972, 1987, 1971, 1997, 1985, 1975,
 1976, 1990, 1966, 1973, 1970]
Length: 57, dtype: Int64

Número de valores nulos: 1817

Contagem por Ano de Mestrado:
ano_conclusao_mestrado
1966       1
1970       1
1971       2
1972       3
1973       1
1974       3
1975       2
1976       3
1977       1
1978       1
1979       4
1980       2
1981       1
1983       3
1985       1
1986       1
1987       4
1988       4
1989       8
1990       5
1991       5
1992       9
1993       8
1994      12
1995      11
1996      18
1997      11
1998      24
1999      21
2000      21
2001      28
2002      27
2003      28
2004      28
2005      37
2006      33
2007      41
2008      48
2009      79
2010      63
2011      60
2012      91
2013      94
2014     106
2015     111
2016     104
2017     107
2018     102
2019      91
2020      88
2021     109
2022      99
2023     118
2024     152
2025      47
2026      33
<NA>    1817
Name: count, dtype: Int64

In [7]:
# Exibir os valores únicos antes de qualquer manipulação
print("Valores únicos antes da substituição:")
print(df['ano_conclusao_doutorado'].unique())

# Substituir anos de conclusão da graduação abaixo de 1901 por 0
df['ano_conclusao_doutorado'] = df['ano_conclusao_doutorado'].apply(lambda x: x if x >= 1901 else 0)

# Exibir os valores únicos após a substituição
print("\nValores únicos após a substituição:")
print(df['ano_conclusao_doutorado'].unique())

# Contar valores nulos na coluna 'ano_conclusao_graduacao'
nulos_ano_conclusao = df['ano_conclusao_doutorado'].isnull().sum()
print(f"\nNúmero de valores nulos: {nulos_ano_conclusao}")

# Verificar contagem por ano após a substituição
contagem_por_ano = df['ano_conclusao_doutorado'].value_counts().sort_index()
print("\nContagem por Ano de Graduação:")
print(contagem_por_ano)

Valores únicos antes da substituição:
[   0 2012 2006 2022 2013 2025 2020 1997 1999 2005 2018 2019 2007 2024
 2017 1989 2016 2028 2011 2023 1986 2002 2010 2001 2008 2014 2015    2
 2027 2029 2003 2004 2021 2026 1992 1985 1987 2009 1995 2000 1984 1974
    1 1993 1996 1990   -2    3   -1 1988 1998   -3 1979 1994 1981 1973
 1991 1980  458    5  666 1975   -8   -5 1983 1900]

Valores únicos após a substituição:
[   0 2012 2006 2022 2013 2025 2020 1997 1999 2005 2018 2019 2007 2024
 2017 1989 2016 2028 2011 2023 1986 2002 2010 2001 2008 2014 2015 2027
 2029 2003 2004 2021 2026 1992 1985 1987 2009 1995 2000 1984 1974 1993
 1996 1990 1988 1998 1979 1994 1981 1973 1991 1980 1975 1983]

Número de valores nulos: 0

Contagem por Ano de Graduação:
ano_conclusao_doutorado
0       2868
1973       2
1974       2
1975       1
1979       1
1980       2
1981       1
1983       1
1984       2
1985       3
1986       1
1987       4
1988       2
1989       2
1990       1
1991       1
1992       2
1993       6
1994       1
1995       4
1996       2
1997       5
1998       6
1999       5
2000       8
2001      13
2002      11
2003      10
2004      14
2005      15
2006      18
2007      23
2008      18
2009      18
2010      31
2011      19
2012      29
2013      45
2014      38
2015      40
2016      48
2017      37
2018      46
2019      69
2020      55
2021      53
2022      78
2023      67
2024      72
2025      54
2026      31
2027      28
2028      18
2029       1
Name: count, dtype: int64

In [8]:
# Função para remover o texto 'salários-mínimos' ou 'salário-mínimo'
def limpar_texto(texto):
    if isinstance(texto, str):  # Verifica se o valor é uma string
        return texto.replace('salários-mínimos', '').replace('salário-mínimo', '').strip()
    return texto  # Retorna o valor original se não for uma string

# Aplicar a função à coluna 'faixa_renda_domiciliar'
df['faixa_renda_domiciliar'] = df['faixa_renda_domiciliar'].apply(limpar_texto)

# Verificar o resultado
faixa_renda_domiciliar = df['faixa_renda_domiciliar'].value_counts()
print(faixa_renda_domiciliar)

faixa_renda_domiciliar
Mais de 2 até 5      926
Mais de 5 até 10     889
Mais de 10 até 15    492
Mais de 1 até 2      388
Mais de 15 até 20    235
Até 1                196
Mais de 20           192
Name: count, dtype: int64

In [9]:
# Dicionário de mapeamento para simplificar os textos
mapear_textos = {
    'Sim, filho/a (s)': 'Filho(s)',
    'Sim, familiar(es) que é (são) idosos (as)': 'Familiares Idosos',
    'Sim, familiar (es) que é (são) crianças': 'Familiares Crianças',
    'Sim, familiar (es) que é (são) pessoa com deficiência': 'Familiares com Deficiência',
    'Sim, enteados(a)': 'Enteados',
    'Prefiro não responder': 'Prefiro não responder',
    'Não': 'Não'
}

# Aplicar o mapeamento à coluna 'responsavel_cuidado_familiar'
df['responsavel_cuidado_familiar'] = df['responsavel_cuidado_familiar'].replace(mapear_textos)

# Verificar o resultado
responsavel_cuidado_familiar = df['responsavel_cuidado_familiar'].value_counts()
print(responsavel_cuidado_familiar)

responsavel_cuidado_familiar
Não                           2103
Filho(s)                       686
Familiares Idosos              305
Familiares Crianças             84
Prefiro não responder           72
Familiares com Deficiência      33
Enteados                        19
Name: count, dtype: int64

In [10]:
# Dicionário de mapeamento para simplificar os textos
mapear_textos = {
    '1 filha (o)': '1 filha(o)',
    '2 filhas (os)': '2 filhas(os)',
    '3 filhas (os)': '3 filhas(os)',
    '4 filhas (os)': '4 filhas(os)',
    '5 filhas (os) ou mais': '5 ou mais filhas(os)',
    'Não tenho filhos': 'Sem filhos',
    'Prefiro não responder': 'Prefiro não responder'
}

# Aplicar o mapeamento à coluna 'quantidade_filhos'
df['quantidade_filhos'] = df['quantidade_filhos'].replace(mapear_textos)

# Verificar o resultado
quantidade_filhos = df['quantidade_filhos'].value_counts()
print(quantidade_filhos)

quantidade_filhos
1 filha(o)               443
Sem filhos               426
2 filhas(os)             294
3 filhas(os)              61
4 filhas(os)              15
5 ou mais filhas(os)       8
Prefiro não responder      2
Name: count, dtype: int64

In [11]:
# Dicionário de mapeamento para simplificar os textos
mapear_textos = {
    'Pública': 'Pública',
    'Privada com fins lucrativos': 'Privada com fins lucrativos',
    'Privada sem fins lucrativos (confessionais, comunitárias e fundações)': 'Privada sem fins lucrativos',
}

# Aplicar o mapeamento à coluna 'quantidade_filhos'
df['instituicao_nivel_mais_alto'] = df['instituicao_nivel_mais_alto'].replace(mapear_textos)

# Verificar o resultado
instituicao_nivel_mais_alto = df['instituicao_nivel_mais_alto'].value_counts()
print(instituicao_nivel_mais_alto)

instituicao_nivel_mais_alto
Pública                        2802
Privada sem fins lucrativos     215
Privada com fins lucrativos     192
Name: count, dtype: int64

In [12]:
# Criar um dicionário de mapeamento para os valores de 'tipo_vinculo_ocupacao_atual'
mapeamento_ocupacao = {
    "Empregado(a) formal no setor privado": "Empregado(a) Formal no Setor Privado",
    "Bolsista": "Bolsista",
    "Autônomo(a)/prestador(a) de serviço": "Autônomo(a)/Prestador(a) de Serviço",
    "Servidor(a) estatutário federal": "Servidor(a) Estatutário Federal",
    "Servidor(a) estatutário estadual": "Servidor(a) Estatutário Estadual",
    "Empregado(a) formal no terceiro setor": "Empregado(a) Formal no Terceiro Setor",
    "Servidor(a) estatutário municipal": "Servidor(a) Estatutário Municipal",
    "Servidor (a) temporário no âmbito estadual": "Servidor(a) Temporário no Âmbito Estadual",
    "Servidor(a) público celetista estadual": "Servidor(a) Público Celetista Estadual",
    "Servidor(a) público celetista federal": "Servidor(a) Público Celetista Federal",
    "Empresário(a)": "Empresário(a)",
    "Servidor (a) comissionado (a) no âmbito estadual": "Servidor(a) Comissionado (a) no Âmbito Estadual",
    "Servidor (a) temporário no âmbito federal": "Servidor(a) Temporário no Âmbito Federal",
    "Servidor (a) temporário no âmbito municipal": "Servidor(a) Temporário no Âmbito Municipal",
    "Servidor(a) público celetista municipal": "Servidor(a) Público Celetista Municipal",
    "Servidor (a) comissionado (a) no âmbito municipal": "Servidor(a) Comissionado(a) no Âmbito Municipal",
    "Servidor (a) comissionado (a) no âmbito federal": "Servidor(a) Comissionado(a) no Âmbito Federal",
}

# Aplicar o mapeamento à coluna 'tipo_vinculo_ocupacao_atual'
df['tipo_vinculo_ocupacao atual'] = df['tipo_vinculo_ocupacao atual'].map(mapeamento_ocupacao)

# Contar os valores após o mapeamento
tipo_vinculo_ocupacao_atual = df['tipo_vinculo_ocupacao atual'].value_counts()

# Exibir o resultado
print(tipo_vinculo_ocupacao_atual)

tipo_vinculo_ocupacao atual
Empregado(a) Formal no Setor Privado               605
Bolsista                                           498
Autônomo(a)/Prestador(a) de Serviço                445
Servidor(a) Estatutário Federal                    435
Servidor(a) Estatutário Estadual                   324
Empregado(a) Formal no Terceiro Setor              182
Servidor(a) Estatutário Municipal                  112
Servidor(a) Temporário no Âmbito Estadual           95
Servidor(a) Público Celetista Estadual              51
Servidor(a) Público Celetista Federal               47
Empresário(a)                                       46
Servidor(a) Comissionado (a) no Âmbito Estadual     40
Servidor(a) Temporário no Âmbito Federal            32
Servidor(a) Temporário no Âmbito Municipal          29
Servidor(a) Público Celetista Municipal             26
Servidor(a) Comissionado(a) no Âmbito Municipal     22
Servidor(a) Comissionado(a) no Âmbito Federal       18
Name: count, dtype: int64

In [13]:
# Criar um dicionário de mapeamento para os valores de 'caracterizacao_organizacao'
mapeamento_ocupacao = {
    "Instituição de ensino superior pública": "Instituição de Ensino Superior Pública",
    "Instituição de ensino superior privada com fins lucrativos": "Instituição de Ensino Superior Privada com Fins Lucrativos",
    "Instituição de ensino superior privada sem fins lucrativos (confessionais, comunitárias e fundações)": "Instituição de Ensino Superior Privada sem Fins Lucrativos",
    "Instituição de ensino da rede básica pública": "Instituição de Ensino da Rede Básica Pública",
    "Instituição de ensino da rede básica privada": "Instituição de Ensino da Rede Básica Privada",
    "Instituição de ensino da rede básica privada sem fins lucrativos": "Instituição de Ensino da Rede Básica Privada sem Fins Lucrativos",
    "Empresa pública/autarquia": "Empresa Pública/Autarquia",
    "Congresso Nacional": "Congresso Nacional",
    "Assembleia legislativa estadual": "Assembleia Legislativa Estadual",
    "Assembleia legislativa municipal": "Assembleia Legislativa Municipal",
    "Órgãos públicos de controle (Tribunais de contas, Ministério Público etc.)": "Órgãos Públicos de Controle",
    "Empresa privada": "Empresa Privada",
    "Organização do terceiro setor (ONGs, OSCIPs, OSs, cooperativas, associações, fundações etc.)": "Organização do Terceiro Setor",
    "Empresa própria ou da qual você é sócio(a)": "Empresa Própria ou Sócio(a)"
}

# Remover espaços em branco nas bordas dos valores na coluna
df['caracterizacao_organizacao'] = df['caracterizacao_organizacao'].str.strip()

# Aplicar o mapeamento à coluna 'caracterizacao_organizacao'
df['caracterizacao_organizacao_atual'] = df['caracterizacao_organizacao'].map(mapeamento_ocupacao)

# Contar os valores após o mapeamento
caracterizacao_organizacao_atual = df['caracterizacao_organizacao_atual'].value_counts()

# Exibir o resultado
print("\nContagem por caracterização da organização atual:")
print(caracterizacao_organizacao_atual)

Contagem por caracterização da organização atual:
caracterizacao_organizacao_atual
Instituição de Ensino Superior Pública                              862
Empresa Privada                                                     417
Instituição de Ensino da Rede Básica Pública                        324
Organização do Terceiro Setor                                       221
Assembleia Legislativa Estadual                                     143
Empresa Pública/Autarquia                                           127
Assembleia Legislativa Municipal                                     95
Empresa Própria ou Sócio(a)                                          69
Órgãos Públicos de Controle                                          62
Instituição de Ensino Superior Privada com Fins Lucrativos           59
Instituição de Ensino Superior Privada sem Fins Lucrativos           52
Instituição de Ensino da Rede Básica Privada                         48
Congresso Nacional                                                   19
Instituição de Ensino da Rede Básica Privada sem Fins Lucrativos     10
Name: count, dtype: int64

In [14]:
# Criar um dicionário de mapeamento para os valores de 'perfil_empresa_privada'
mapeamento_ocupacao = {
    "Consultoria/assessoria econômica ou financeira": "Consultoria/Assessoria Econômica ou Financeira",
    "Consultoria/assessoria econômica em relações institucionais e governamentais": "Consultoria/Assessoria Econômica em Relações Institucionais e Governamentais",
    "Consultoria/assessoria em pesquisa": "Consultoria/Assessoria em Pesquisa",
    "Consultoria/assessoria em ensino e educação": "Consultoria/Assessoria em Ensino e Educação",
    "Consultoria/assessoria em meio ambiente e sustentabilidade": "Consultoria/Assessoria em Meio Ambiente e Sustentabilidade",
    "Consultoria/assessoria em governança social e diversidade": "Consultoria/Assessoria em Governança Social e Diversidade",
    "Consultoria/assessoria em cultura/projetos culturais": "Consultoria/Assessoria em Cultura/Projetos Culturais",
    "Empresa do setor industrial": "Empresa do Setor Industrial",
    "Empresa do setor de serviços": "Empresa do Setor de Serviços",
    "Empresa do setor financeiro": "Empresa do Setor Financeiro"
}

# Aplicar o mapeamento à coluna 'perfil_empresa_privada'
df['perfil_empresa_privada'] = df['perfil_empresa_privada'].map(mapeamento_ocupacao)

# Contar os valores após o mapeamento
perfil_empresa_privada = df['perfil_empresa_privada'].value_counts()

# Exibir o resultado
print(perfil_empresa_privada)

perfil_empresa_privada
Consultoria/Assessoria em Pesquisa                                              165
Empresa do Setor de Serviços                                                    158
Consultoria/Assessoria em Meio Ambiente e Sustentabilidade                       82
Consultoria/Assessoria em Ensino e Educação                                      72
Empresa do Setor Industrial                                                      54
Empresa do Setor Financeiro                                                      48
Consultoria/Assessoria Econômica em Relações Institucionais e Governamentais     40
Consultoria/Assessoria em Cultura/Projetos Culturais                             36
Consultoria/Assessoria em Governança Social e Diversidade                        25
Consultoria/Assessoria Econômica ou Financeira                                   18
Name: count, dtype: int64

In [15]:
# Remover o ponto final das frases na coluna 'expectativas_iniciais_profissao' e capitalizar as palavras
df['expectativas_iniciais_profissao'] = df['expectativas_iniciais_profissao'].str.rstrip('.').str.title()

# Contar os valores
expectativas_iniciais_profissao = df['expectativas_iniciais_profissao'].value_counts()

# Exibir o resultado
print(expectativas_iniciais_profissao)

expectativas_iniciais_profissao
Ser Professor E Pesquisador Em Instituições Públicas De Ensino                      1329
Contribuir Para A Produção De Conhecimento Científico Na Minha Área De Interesse     514
Avançar Na Minha Carreira Profissional Fora Do Ambiente Acadêmico                    374
Desenvolver Habilidades De Pesquisa E Análise De Dados                               299
Explorar Novas Oportunidades De Carreira Além Do Campo Das Ciências Sociais          177
                                                                                    ...
Atuar Com Políticas Públicas                                                           1
Gestão De Políticas Publicas                                                           1
Estudo Da Sociedade Brasileira, Das Relações Sociais                                   1
Transformar A Qualidade De Vida Das Pessoas                                            1
Trabalhar Na Área Social                                                               1
Name: count, Length: 138, dtype: int64

In [16]:
# Capitalizar os valores na coluna 'expectativas_alcancadas'
df['expectativas_alcancadas'] = df['expectativas_alcancadas'].str.title()

# Contar os valores
expectativas_alcancadas = df['expectativas_alcancadas'].value_counts()

# Exibir o resultado
print(expectativas_alcancadas)

expectativas_alcancadas
Um Pouco Abaixo Das Expectativas    871
Muito Abaixo Das Expectativas       798
Conforme As Expectativas            659
Um Pouco Acima Das Expectativas     289
Muito Acima Das Expectativas        269
Name: count, dtype: int64

In [17]:
# Capitalizar os valores na coluna 'satisfacao_carreira'
df['satisfacao_carreira'] = df['satisfacao_carreira'].str.title()

# Contar os valores
satisfacao_carreira = df['satisfacao_carreira'].value_counts()

# Exibir o resultado
print(satisfacao_carreira)

satisfacao_carreira
Satisfeito(A)                            1046
Insatisfeito(A)                           595
Nem Satisfeito(A) Nem Insatisfeito(A)     562
Muito Satisfeito(A)                       351
Muito Insatisfeito(A)                     327
Name: count, dtype: int64

In [18]:
# Capitalizar os valores na coluna 'fatores_sucesso_profissional'
df['fatores_sucesso_profissional'] = df['fatores_sucesso_profissional'].str.title()

# Contar os valores
fatores_sucesso_profissional = df['fatores_sucesso_profissional'].value_counts()

# Exibir o resultado
print(fatores_sucesso_profissional)

fatores_sucesso_profissional
Relevância Do Trabalho Para A Sociedade                                                                                                                                                                                    208
Relevância Do Trabalho Para A Sociedade + Reconhecimento Acadêmico + Remuneração + Equilíbrio Entre Vida Profissional E Pessoal + Oportunidades De Pesquisa E Publicação + Desenvolvimento De Habilidades Profissionais    160
Relevância Do Trabalho Para A Sociedade + Remuneração + Equilíbrio Entre Vida Profissional E Pessoal                                                                                                                       152
Relevância Do Trabalho Para A Sociedade + Reconhecimento Acadêmico + Remuneração                                                                                                                                           122
Relevância Do Trabalho Para A Sociedade + Reconhecimento Acadêmico + Remuneração + Oportunidades De Pesquisa E Publicação                                                                                                  116
                                                                                                                                                                                                                          ...
Reconhecimento Acadêmico + Equilíbrio Entre Vida Profissional E Pessoal                                                                                                                                                      6
Relevância Do Trabalho Para A Sociedade + Reconhecimento Acadêmico + Equilíbrio Entre Vida Profissional E Pessoal + Desenvolvimento De Habilidades Profissionais                                                             5
Reconhecimento Acadêmico + Equilíbrio Entre Vida Profissional E Pessoal + Oportunidades De Pesquisa E Publicação + Desenvolvimento De Habilidades Profissionais                                                              4
Reconhecimento Acadêmico + Equilíbrio Entre Vida Profissional E Pessoal + Desenvolvimento De Habilidades Profissionais                                                                                                       3
Equilíbrio Entre Vida Profissional E Pessoal + Oportunidades De Pesquisa E Publicação                                                                                                                                        3
Name: count, Length: 63, dtype: int64

In [19]:
# Capitalizar os valores na coluna 'desafios_realizacao_profissional'
df['desafios_realizacao_profissional'] = df['desafios_realizacao_profissional'].str.title()

# Contar os valores
desafios_realizacao_profissional = df['desafios_realizacao_profissional'].value_counts()

# Exibir o resultado
print(desafios_realizacao_profissional)

desafios_realizacao_profissional
Dificuldade Em Encontrar Oportunidades De Emprego Na Área De Ciências Sociais                                                                                                                                                                                                                                                                                                                             396
Dificuldade Em Encontrar Oportunidades De Emprego Na Área De Ciências Sociais + Falta De Reconhecimento Ou Valorização Das Habilidades Adquiridas Durante A Pós-Graduação                                                                                                                                                                                                                                 201
Dificuldade Em Encontrar Oportunidades De Emprego Na Área De Ciências Sociais + Dificuldades Para Estabelecer Uma Rede Profissional Ou Acadêmica                                                                                                                                                                                                                                                          130
Desafios Para Equilibrar Trabalho E Vida Pessoal.                                                                                                                                                                                                                                                                                                                                                         128
Dificuldade Em Encontrar Oportunidades De Emprego Na Área De Ciências Sociais + Falta De Reconhecimento Ou Valorização Das Habilidades Adquiridas Durante A Pós-Graduação + Dificuldades Para Estabelecer Uma Rede Profissional Ou Acadêmica                                                                                                                                                              103
                                                                                                                                                                                                                                                                                                                                                                                                         ...
Concorrência Acirrada No Mercado De Trabalho + Falta De Reconhecimento Ou Valorização Das Habilidades Adquiridas Durante A Pós-Graduação + Desafios Para Equilibrar Trabalho E Vida Pessoal. + Barreiras Para Publicação De Pesquisas Ou Acesso A Recursos Acadêmicos + Dificuldades Para Estabelecer Uma Rede Profissional Ou Acadêmica                                                                    1
Dificuldade Em Encontrar Oportunidades De Emprego Na Área De Ciências Sociais + Concorrência Acirrada No Mercado De Trabalho + Falta De Reconhecimento Ou Valorização Das Habilidades Adquiridas Durante A Pós-Graduação + Desafios Para Equilibrar Trabalho E Vida Pessoal. + Dificuldades Para Estabelecer Uma Rede Profissional Ou Acadêmica + Discriminação Ou Preconceito No Ambiente De Trabalho      1
Desafios Para Equilibrar Trabalho E Vida Pessoal. + Dificuldades Para Estabelecer Uma Rede Profissional Ou Acadêmica + Limitações Geográficas Na Busca Por Oportunidades De Trabalho + Discriminação Ou Preconceito No Ambiente De Trabalho                                                                                                                                                                 1
Dificuldade Em Encontrar Oportunidades De Emprego Na Área De Ciências Sociais + Concorrência Acirrada No Mercado De Trabalho + Falta De Reconhecimento Ou Valorização Das Habilidades Adquiridas Durante A Pós-Graduação + Desafios Para Equilibrar Trabalho E Vida Pessoal. + Limitações Geográficas Na Busca Por Oportunidades De Trabalho + Discriminação Ou Preconceito No Ambiente De Trabalho         1
Dificuldade Em Encontrar Oportunidades De Emprego Na Área De Ciências Sociais + Concorrência Acirrada No Mercado De Trabalho + Barreiras Para Publicação De Pesquisas Ou Acesso A Recursos Acadêmicos + Dificuldades Para Estabelecer Uma Rede Profissional Ou Acadêmica + Limitações Geográficas Na Busca Por Oportunidades De Trabalho + Discriminação Ou Preconceito No Ambiente De Trabalho             1
Name: count, Length: 202, dtype: int64

In [20]:
# Capitalizar os valores na coluna 'curriculo_atende_necessidades'
df['curriculo_atende_necessidades'] = df['curriculo_atende_necessidades'].str.title()

# Contar os valores
curriculo_atende_necessidades = df['curriculo_atende_necessidades'].value_counts()

# Exibir o resultado
print(curriculo_atende_necessidades)

curriculo_atende_necessidades
Sim, Mas Há Espaço Para Melhorias Direcionadas A Atender Melhor Às Necessidades Profissionais    1326
Não, Há Uma Defasagem Entre O Currículo Dos Cursos E As Necessidades Profissionais.              1082
Sim, O Currículo Dos Cursos Atende Plenamente Às Necessidades Profissionais                       299
Não Tenho Certeza                                                                                 119
Name: count, dtype: int64

In [21]:
# Capitalizar os valores na coluna 'conhecimento_aplicavel'
df['conhecimento_aplicavel'] = df['conhecimento_aplicavel'].str.title()

# Contar os valores
conhecimento_aplicavel = df['conhecimento_aplicavel'].value_counts()

# Exibir o resultado
print(conhecimento_aplicavel)

conhecimento_aplicavel
Sim    2208
Não     614
Name: count, dtype: int64

In [22]:
# Criar um dicionário de mapeamento para os valores de 'como_adquiriu_conhecimento'
mapeamento_ocupacao = {
    "Adquiri esses conhecimentos por conta própria": "Por Conta Própria",
    "Adquiri esses conhecimentos através de cursos complementares ou de curta duração": "Cursos Complementares Ou De Curta Duração",
    "Adquiri esses conhecimentos através de treinamentos no local de trabalho": "Treinamentos No Local De Trabalho"
}

# Aplicar o mapeamento à coluna 'como_adquiriu_conhecimento'
df['como_adquiriu_conhecimento'] = df['como_adquiriu_conhecimento'].map(mapeamento_ocupacao)

# Contar os valores
como_adquiriu_conhecimento = df['como_adquiriu_conhecimento'].value_counts()

# Exibir o resultado
print(como_adquiriu_conhecimento)

como_adquiriu_conhecimento
Por Conta Própria                            1095
Cursos Complementares Ou De Curta Duração     621
Treinamentos No Local De Trabalho             544
Name: count, dtype: int64

In [24]:
# Capitalizar os valores na coluna 'desafios_realizacao_profissional'
df['conhecimento_necessario'] = df['conhecimento_necessario'].str.title()

# Contar os valores
conhecimento_necessario = df['conhecimento_necessario'].value_counts()

# Exibir o resultado
print(conhecimento_necessario)

conhecimento_necessario
Habilidades Em Análise Estatística E Quantitativa + Conhecimentos Em Ferramentas De Coleta E Análise De Dados (Por Exemplo, Software Estatístico, Ferramentas De Visualização De Dados) + Competências Em Pesquisa Qualitativa (Por Exemplo, Entrevistas, Análise De Conteúdo) + Conhecimentos Em Programação E Análise De Dados Em Linguagens Como R Ou Python + Habilidades Em Comunicação E Apresentação De Resultados De Pesquisa + Competências Para Gerir Projetos De Pesquisa + Competências E Habilidades Relacionadas À Gestão Empresarial    235
Habilidades Em Análise Estatística E Quantitativa + Conhecimentos Em Ferramentas De Coleta E Análise De Dados (Por Exemplo, Software Estatístico, Ferramentas De Visualização De Dados) + Competências Em Pesquisa Qualitativa (Por Exemplo, Entrevistas, Análise De Conteúdo) + Conhecimentos Em Programação E Análise De Dados Em Linguagens Como R Ou Python + Habilidades Em Comunicação E Apresentação De Resultados De Pesquisa + Competências Para Gerir Projetos De Pesquisa                                                                   173
Habilidades Em Análise Estatística E Quantitativa + Conhecimentos Em Ferramentas De Coleta E Análise De Dados (Por Exemplo, Software Estatístico, Ferramentas De Visualização De Dados) + Conhecimentos Em Programação E Análise De Dados Em Linguagens Como R Ou Python                                                                                                                                                                                                                                                                               113
Habilidades Em Análise Estatística E Quantitativa + Conhecimentos Em Ferramentas De Coleta E Análise De Dados (Por Exemplo, Software Estatístico, Ferramentas De Visualização De Dados) + Competências Em Pesquisa Qualitativa (Por Exemplo, Entrevistas, Análise De Conteúdo) + Habilidades Em Comunicação E Apresentação De Resultados De Pesquisa + Competências Para Gerir Projetos De Pesquisa                                                                                                                                                     81
Habilidades Em Análise Estatística E Quantitativa + Conhecimentos Em Ferramentas De Coleta E Análise De Dados (Por Exemplo, Software Estatístico, Ferramentas De Visualização De Dados) + Competências Em Pesquisa Qualitativa (Por Exemplo, Entrevistas, Análise De Conteúdo) + Conhecimentos Em Programação E Análise De Dados Em Linguagens Como R Ou Python                                                                                                                                                                                         73
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
Habilidades Em Análise Estatística E Quantitativa + Conhecimentos Em Ferramentas De Coleta E Análise De Dados (Por Exemplo, Software Estatístico, Ferramentas De Visualização De Dados) + Competências Para Gerir Projetos De Pesquisa + Competências E Habilidades Relacionadas À Gestão Empresarial + Competências Relacionadas À Atuação Em Sala De Aula Enquanto Docente                                                                                                                                                                             1
Competências Em Pesquisa Qualitativa (Por Exemplo, Entrevistas, Análise De Conteúdo) + Habilidades Em Comunicação E Apresentação De Resultados De Pesquisa + Competências Para Gerir Projetos De Pesquisa + Saber Gerir Projetos Sociais                                                                                                                                                                                                                                                                                                                 1
Conhecimentos Em Ferramentas De Coleta E Análise De Dados (Por Exemplo, Software Estatístico, Ferramentas De Visualização De Dados) + Competências Em Pesquisa Qualitativa (Por Exemplo, Entrevistas, Análise De Conteúdo) + Habilidades Em Comunicação E Apresentação De Resultados De Pesquisa + Competências E Habilidades Relacionadas À Gestão Empresarial                                                                                                                                                                                          1
Conhecimentos Em Ferramentas De Coleta E Análise De Dados (Por Exemplo, Software Estatístico, Ferramentas De Visualização De Dados) + Competências Em Pesquisa Qualitativa (Por Exemplo, Entrevistas, Análise De Conteúdo) + Competências Para Gerir Projetos De Pesquisa + Competências E Habilidades Relacionadas À Gestão Empresarial + Habilidades Em Gestão Institucional                                                                                                                                                                           1
Habilidades Em Análise Estatística E Quantitativa + Conhecimentos Em Ferramentas De Coleta E Análise De Dados (Por Exemplo, Software Estatístico, Ferramentas De Visualização De Dados) + Competências Em Pesquisa Qualitativa (Por Exemplo, Entrevistas, Análise De Conteúdo) + Conhecimentos Em Programação E Análise De Dados Em Linguagens Como R Ou Python + Habilidades Em Comunicação E Apresentação De Resultados De Pesquisa + Competências E Habilidades Relacionadas À Gestão Empresarial + Power Bi                                          1
Name: count, Length: 552, dtype: int64

In [25]:
# Capitalizar os valores na coluna 'habilidades_utilidade_leitura_escrita'
df['habilidades_utilidade_leitura_escrita'] = df['habilidades_utilidade_leitura_escrita'].str.title()

# Contar os valores
habilidades_utilidade_leitura_escrita = df['habilidades_utilidade_leitura_escrita'].value_counts()

# Exibir o resultado
print(habilidades_utilidade_leitura_escrita)

habilidades_utilidade_leitura_escrita
Extremamente Importante    1516
Muito Importante            735
Importante                  423
Pouco Importante             87
Nada Importante              30
Name: count, dtype: int64

In [23]:
# Salvar o DataFrame em um arquivo Excel com o nome especificado
# df.to_excel('arw.xlsx', index=False)

# print("Arquivo Excel 'arw_modificado.xlsx' salvo com sucesso!")